{% extends "tutorial/layout.html" %}
{% block content %}
    <h1>Mailbox</h1>
    <h5>Inbox</h5>
    {% if inbox %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Sender</th>
                <th scope="col">Recipient</th>
                <th scope="col">Subject</th>
                <th scope="col">Body</th>
                <th scope="col">Created</th>
            </tr>
            </thead>
            <tbody>

            {% for i in inbox %}
                <tr>
                    <td>{{ i.sender }}</td>
                    <td>{{ i.recipients }}</td>
                    <td>{{ i.subject }}</td>
                    <td>{{ i.body }}</td>
                    <td>{{ i.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h6>No data found</h6>
    {% endif %}

{% endblock %}