{% extends "tutorial/layout.html" %}
{% block content %}
    <h1>Mailbox</h1>

    {% if inbox %}
    <h5>Inbox</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Recipient</th>
            <th scope="col">Subject</th>
            <th scope="col">Body</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
            {% for i in inbox %}
                <tr>
                    <td>{{ i.sender }}</td>
                    <td>{{ i.recipients }}</td>
                    <td>{{ i.subject }}</td>
                    <td>{{ i.body }}</td>
                    <td>{{ i.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if outbox %}
    <h5>Outbox</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Recipients</th>
            <th scope="col">Subject</th>
            <th scope="col">Body</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
            {% for i in outbox %}
                <tr>
                    <td>{{ i.sender }}</td>
                    <td>{{ i.recipients }}</td>
                    <td>{{ i.subject }}</td>
                    <td>{{ i.body }}</td>
                    <td>{{ i.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if draft %}
    <h5>Draft</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
            {% for i in draft %}
                <tr>
                    <td>{{ i }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}